.adireita{
    float: right;
    text-align: justify;
}

.fonte28{
    font-size: 28px;
}

.fonte22{
    font-size: 22px;
}

.aesquerda{
    text-align: left;
}

.holder {   
    width: auto;
    display: inline-block;    
}
  
.holder img {
    width: 70%; /* Will shrink image to 30% of its original width */
    height: auto;    
}​

.rodape{
    text-align: end;
}